@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');

*{
    margin:0;
    padding:0;
}

.sidebar{
    position: absolute;
    background-color: rgb(190, 187, 187);
    font-family: 'Zilla Slab', serif;
    height: 120vh;
    transition: transform 0.3s ease-in;
}

.sidebar nav{
    padding: 45px;
}

.sidebar nav li{
    list-style-type:none;
    font-size: 22px;
    padding: 33px 0;
}

.sidebar nav li a {
    text-decoration: none;
    color: rgb(63, 3, 63);
    text-align: center;
    font-weight: bold;
    font-size: 32;
}

.main{
  /*  background-color: yellow;*/
    width: 90vw;
}

.container{
    display:flex;
}

.infoContainer{
 /* background-color: rgb(202, 9, 128);*/
    height: 58vh;
    width: 80vw;
    margin: 144px auto;
    display: flex;
    justify-content: space-around;
}

.devInfo{
    font-size: 16px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Source Code Pro', monospace;
}

.hello{
    font-size: 3em;
    }
.name{
    font-size: 3em;
    font-weight: bold;
    font-family: 'Zilla Slab', serif;
}
.about{
    font-size: 2.5em;
}

.More About{
    font-size: 2em;
    margin-top: 23px;  
    font-family: 'Zilla Slab', serif; 
}

.button{
    margin-top: 2.2em;
    font-size: 10px;
}
.button button{
    padding: 8px 12px;
    border-radius: 22px;
    color: white;
    background-color:rgb(238, 70, 40) ;
    font-weight:bold ;
    font-size: 2em;
    margin: 3px 3px;    
    cursor: pointer;
}

.button button:hover{
    background-color: white;
    color:rgb(238, 70, 40) ;

}

.devPic img{
    height: 58vh;
}

.contactform{
    font-family: 'Zilla Slab', serif; 
    padding: 0 34px;
    padding-top: 100px;
    margin: 50px 88px;
}

.contactform h1{
    font-family: 'Source Code Pro', monospace;
    padding: 12px 0;
    }

.contactform form div{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
}

.contactform form div input{
    width:26vw; 
    border-radius: 5px;
    margin: 6px 0 0 0;
    padding: 3px;
        
}

.contactform form{
    margin: 0 40px;
        
}

#emailHelp{
    font-size: 11px;
    color: midnightblue;
    margin: 0 5px;
    padding: 3px 0 0 0 ;
}

#form-check div{
    flex-direction: row;
}

#form-check input{
    width: 16px;
    margin: 3px  0;   
}

.btn{
    padding: 7px 10px;
    border-radius: 18px;
    color: white;
    background-color:rgb(238, 70, 40) ;
    font-weight:bold ;
    font-size: 16px;
    margin: 1 4px;    
    cursor: pointer;
}

.btn:hover{
    background-color: white;
    color:rgb(238, 70, 40) ;
}

.blogItem {
margin: 35px;
font-family: 'Zilla Slab', serif;
}

.blogContainer{
    margin: 40px 88px;
}

h1{
    font-family: 'Zilla Slab', serif;
    h1 margin: 24px;
}
p{
    font-family: 'Source Code Pro', monospace;      
}

.intro{
    margin: 88px;
}

.intro h2{
    font-family: 'Zilla Slab', serif;
    margin: 12px;
}

.intro p{
    font-family: 'Source Code Pro', monospace;
    margin: 12px;
}

.skillcontainer{
    padding: 12px;
}

.skillItem{
    display: flex;
    font-family: 'Source Code Pro', monospace;
    font-weight: 200;
}
 
 .skill{
    width:265px;
    height: 6px;
    background-color: red;
    border: 2px solid black;
}

.hundred{
    width:256px;
    background-color: blueviolet;
}
.fifty{
    width:125px;
    background-color: aqua;
}
.t5{
    width:75px;
    background-color: yellow;        
}

.sidebarGo{
    transform: translate(-443px, 0px);
    position: absolute;
}

.hamburger{
    position: absolute;
    cursor: pointer;
    top: 10px;
    left: 10px;
}

.ham{
    margin-top: 10px;
    margin-left: 10px;
}

.cross1{
    margin-left: 156px;
    margin-top: 2px;
}

@media (max-width: 1200px){
    *{
     /* background-color: rgb(240, 136, 136);*/
    }
    .devInfo{
        font-size: 10px;
    }
    .devPic{
        display: none;
    }
.intro, .blogContainer, .contactform{
    margin: 8px;
  }
}